<a href="https://colab.research.google.com/github/flyingrockingit/NEW_FILES_PROJECTS_-Module-9-onwards-/blob/main/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Olivia', 'Liam', 'Sophia', 'Noah', 'Isabella', 'Mason', 'Ava', 'Elijah', 'Mia', 'Lucas'],
    'score': [12.4, np.nan, 20, 15, 12, 15.5, 19, np.nan, 10, 9],
    'attempts': [1, 3, 4, 2, 1, 5, 2, 3, 6, 7],
    'qualify': ['yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)
print (df)

       name  score  attempts qualify
a    Olivia   12.4         1     yes
b      Liam    NaN         3      no
c    Sophia   20.0         4      no
d      Noah   15.0         2     yes
e  Isabella   12.0         1     yes
f     Mason   15.5         5      no
g       Ava   19.0         2      no
h    Elijah    NaN         3     yes
i       Mia   10.0         6      no
j     Lucas    9.0         7     yes

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes